{% extends 'base.html.twig' %}


{% block body %}
    <ul>
        <li> {{app.user.firstname}} </li>
        <li> {{app.user.lastname}} </li>
        <li> {{app.user.email}} </li>
        <li> {{app.user.birthday | date}} </li>
    </ul>

{% endblock %}